/* Reset initial values */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto;
}

/* Load Variables */
:root {
	--brand-light: #59B2FF;
	--brand-mid: #3487CF;
	--brand-dark: #1D6FB6;
	--purple: #B259FF;
	--fuschia: #FF59F9;
	--pink: #FF598B;
	--orange: #FF8B59;
	--yellow: #FFCD59;
	--lime: #E1FF59;
	--green: #59FF91;
	--cyan: #59FFF9;
	--navy: #6A59FF;
	--danger: #FF5959;
	--input-base: #1C1F21;
	--input-stroke: #363B40;
	--input-placeholder: #869198;
	--shape-background: #131516;
	--shape-body: #212427;
	--shape-button: #2D3136;
	--shape-hover: #383D42;
	--text-body: #C8CDD0;
	--text-heading: #F9F9F9;
	
	--leckerli: "Leckerli One", sans-serif;
	--baloo: "Baloo 2", sans-serif;
	--open-sans: "Open Sans", sans-serif;
	--body-md-400: 400 1rem var(--open-sans);
	--body-md-600: 600 1rem var(--open-sans);
	--body-sm-400: 400 .875rem var(--open-sans);
	--body-sm-600: 600 .875rem var(--open-sans);
	--body-xs-400: 400 .75rem var(--open-sans);
	--body-xs-600: 600 .75rem var(--open-sans);
	--heading-md: 700 1.75rem var(--baloo);
	--heading-sm: 700 1.125rem var(--baloo);
	--logo: 400 2.5rem var(--leckerli);
}

body {
	background-color: var(--shape-background);
	overflow: hidden;
}