#app {
	display: grid;
	grid-template-columns: 33% 67%;
	height: 100vh;
	overflow: hidden;
	max-width: 77.5rem;
	margin: 1.25rem auto;
	gap:1.25rem;
}

main {
	overflow: auto;
	padding-block: 80px;
	border-radius: .75rem;
	background-color: var(--shape-body);
	& .main-container {
		max-width: 35rem;
		margin:auto;
	}
}

aside {
	overflow: hidden;
	background-image: url("../assets/images/Background.png");
	background-repeat: no-repeat;
	background-size: cover;
	padding: 1.875rem;
	border-radius: .75rem;
	max-height: 45.5rem;
	
}